<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>src.mimuebleria.servlets.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>piezaServlet</servlet-name>
        <servlet-class>fabricaServlet.pieza.piezaServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>actualizarPiezaServlet</servlet-name>
        <servlet-class>fabricaServlet.pieza.actualizarPiezaServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>eliminarPiezaServlet</servlet-name>
        <servlet-class>fabricaServlet.pieza.eliminarPiezaServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>nuevoMuebleServlet</servlet-name>
        <servlet-class>fabricaServlet.mueble.nuevoMuebleServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>actualizarMuebleServlet</servlet-name>
        <servlet-class>fabricaServlet.mueble.actualizarMuebleServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>eliminarMuebleServlet</servlet-name>
        <servlet-class>fabricaServlet.mueble.eliminarMuebleServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>nuevoEnsambleServlet</servlet-name>
        <servlet-class>fabricaServlet.ensamble.nuevoEnsambleServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>actualizarEnsambleServlet</servlet-name>
        <servlet-class>fabricaServlet.ensamble.actualizarEnsambleServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>eliminarEnsambleServlet</servlet-name>
        <servlet-class>fabricaServlet.ensamble.eliminarEnsambleServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>usuarioServlet</servlet-name>
        <servlet-class>adminServlet.usuario.usuarioServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>tipoPiezaServlet</servlet-name>
        <servlet-class>fabricaServlet.pieza.tipoPiezaServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>actualizarUsuarioServlet</servlet-name>
        <servlet-class>adminServlet.usuario.actualizarUsuarioServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>eliminarUsuarioServlet</servlet-name>
        <servlet-class>adminServlet.usuario.desactivarUsuarioServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>piezaServlet</servlet-name>
        <url-pattern>/piezaServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>actualizarPiezaServlet</servlet-name>
        <url-pattern>/actualizarPiezaServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>eliminarPiezaServlet</servlet-name>
        <url-pattern>/eliminarPiezaServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>nuevoMuebleServlet</servlet-name>
        <url-pattern>/nuevoMuebleServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>actualizarMuebleServlet</servlet-name>
        <url-pattern>/actualizarMuebleServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>eliminarMuebleServlet</servlet-name>
        <url-pattern>/eliminarMuebleServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>nuevoEnsambleServlet</servlet-name>
        <url-pattern>/nuevoEnsambleServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>actualizarEnsambleServlet</servlet-name>
        <url-pattern>/actualizarEnsambleServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>eliminarEnsambleServlet</servlet-name>
        <url-pattern>/eliminarEnsambleServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>usuarioServlet</servlet-name>
        <url-pattern>/usuarioServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>tipoPiezaServlet</servlet-name>
        <url-pattern>/tipoPiezaServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>actualizarUsuarioServlet</servlet-name>
        <url-pattern>/actualizarUsuarioServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>eliminarUsuarioServlet</servlet-name>
        <url-pattern>/eliminarUsuarioServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
